.layoutContainer{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center; */

    position: absolute;
    float: right;
    justify-content: center;
    align-items: center;
    
    margin: 20px 0px 0 280px;
    padding: 0 5px 15px 5px;
    height: 90%;
    width: 80%;
    border-radius: 5px;
}

.layoutItems{
    position: absolute;
    height: 90%;
    width: 100%;
    overflow-y: auto;

}